/* footer */
footer {
  border-top: 2.5px solid gray;
  /* background-color: #13283f; */
}

.first {
  width: 60%;
  height: auto;

  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
}
.first img {
  width: 100px;
}
.first h4 {
  color: white;
  text-align: center;
  margin-left: 4px;
}

.site-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.site-links a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  margin: 6px 10px;
  padding-top: 14px;
}
.site-links a:hover {
  text-decoration: solid underline white;
}
.hr {
  background-color: white !important;
  height: 3px;
}
.copyright {
  color: white;
  text-align: center;
  padding-bottom: 18px;
}
.cookies-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  margin: 6px;
}
.modal-dialog {
  background-color: #1e293b !important;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.modal-dialog h2,
h3 {
  color: white;
}
.modal-dialog p {
  color: rgb(201, 198, 198);
}
